appdirs==1.4.4
astroid==2.5
attrs==26.1.0
beautifulsoup4==4.15.0
bibtexparser==1.4.4
bs4==0.0.2
certifi==2026.6.17
chardet==3.0.4
charset-normalizer==3.4.7
colorama==0.4.6
crossref-commons==0.0.7
future==1.0.0
googletrans==3.1.0a0
h11==0.16.0
h2==3.2.0
habanero==1.2.6
hpack==3.0.0
hstspreload==2025.1.1
HTMLParser==0.0.2
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
isort==5.13.2
lazy-object-proxy==1.12.0
libgen-api==1.0.1
lxml==6.1.1
mccabe==0.6.1
numpy==2.5.0
outcome==1.3.0.post0
pandas==3.0.3
pyChainedProxy==1.3
pylint==2.7.1
PyMuPDF==1.27.2.3
PyPaperBot==1.4.1
pyparsing==3.3.2
PyPDF2==3.0.1
pyperclip==1.11.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.19
PyQt5_sip==12.18.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytz==2026.2
ratelimit==2.2.1
regex==2026.5.9
requests==2.34.2
rfc3986==1.5.0
selenium==4.45.0
setuptools==75.8.0
sioyek==0.31.11
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.4
text-unidecode==1.3
toml==0.10.2
tqdm==4.68.3
trio==0.33.0
trio-websocket==0.12.2
typing_extensions==4.15.0
undetected-chromedriver==3.5.5
urllib3==2.7.0
websocket-client==1.9.0
websockets==16.0
wrapt==1.12.1
wsproto==1.3.2
